.productContainer{
    display: flex;
    justify-content: space-around
}
.product{
    border: 5px dotted black;
    border-radius: 40px;
    margin: 10px;
    padding: 20px;
    background-color: gray;
}